.product-container {
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 22%;
  height: 35vh;
  overflow: "hidden";
}

.product-img {
  height: 15vh;
  margin: auto;
  display: block;
  object-fit: "cover";
}

.img-container {
  max-height: 16vh;
  width: 100%;
}

.product-title {
  font-size: 1vw;
  color: grey;
  text-align: center;
  font-weight: 600;
}

.product-description {
  font-size: 0.5vw;
  color: grey;
  text-align: center;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-price {
  background: green;
  width: 50%;
  text-align: center;
  font-weight: 600;
}

.product-rate{
    background: yellow;
    width: 50%;
    text-align: center;
    font-weight: 600;
}